a {
  outline: 0 !important;
}

table td {
  border-collapse: collapse !important;
}

.rate_exp {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none !important;
  margin: 2px 0 0;
  display: inline-block;
  width: 100%;
}

.hover_rate a {
  display: inline-block;
  width: 54px;
  margin: 0 12px;
}

span.img_bx {
  height: 36px;
  display: inline-block;
}

.hover_rate a:hover img {
  width: 30px;
}

.hover_rate a:hover .rate_exp {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  body,
  table,
  td,
  p,
  a,
  li,
  blockquote {
    -webkit-text-size-adjust: none !important;
  }

  table {
    width: 100% !important;
    display: inline-block;
  }

  .socialiocn {
    width: 150px !important;
    margin: 0 auto !important;
  }

  .responsive-image1 {
    height: auto !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .responsive-image {
    height: auto !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .socialiocn.rate_icon_resp {
    width: 100% !important;
    margin: 0 auto !important;
    display: inline;
  }

  .hover_rate a {
    width: 100%;
    margin: 0;
  }

  .resp_header {
    display: inline-table !important;
    width: 90% !important;
  }
}

.responsive-image {
  height: auto !important;
  max-width: 100% !important;
  width: 100% !important;
}

tr td {
  padding-left: 5px;
  padding-right: 5px;
}
